.w-edu .edu-ad{
	width: 100%;
	height: 36px;
}

.w-edu .edu-ad p{
	display: inline-block;
	line-height: 36px;
	font-size: 12px;
	font-weight: 400;
	font-family: "Arial"
	color: rgb(51,51,51);
}

.w-edu .edu-ad a{
	color: rgb(33,165,87);
}



/* 设置顶栏宽高 */
.edu-hd {
	width: 100%;
	height: 90px;
}
.edu-hd .h-f4{
	padding-top: 32px;
	padding-bottom: 36px;
}
.edu-hd .f5{
	float: left;
}
.edu-hd .h-f4 .hd-title{
	padding-left: 84px:;
}

/* 设置主体上半部分 */
.edu-bd .half-top .wrapper .slide{
	width: 100%;
	height: 460px;
	overflow: hidden;
}
.edu-bd .half-top .wrapper .slide .imgList{
	width: 300%;
	height: 460px;
}
.edu-bd .half-top .wrapper .slide .imgList li{
	display: inline;
	float: left;
}
.edu-bd .half-top .slide{
	position: relative;
}
.edu-bd .half-top .slide .pointer{
	width: 60px;
	height: 20px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	z-index: 10;
}
.edu-bd .half-top .slide .pointer .circle{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: auto;
	background-color: black;
	border-radius: 50%;
}

.edu-bd .half-top .friendLink-wrapper{
	width: 1017px;
	margin: 0 auto;
}
.edu-bd .half-top .friendLink{
	width: 339px;
	height: 235px;
	float: left;
	margin: 0 auto;
}

.edu-bd .half-top .friendLink h3{
	width: 339px;
	height: 22px;
	font-family: "Microsoft YaHei";
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	color: rgb(51,51,51);
	line-height: 22px;
	margin-bottom: 15px;
}

.edu-bd .half-top .friendLink p{
	width: 339px;
	height: 120px;
	font-family: "Microsoft YaHei";
	font-size:14px;
	font-weight: 400;
	font-style: normal;
	color: rgb(102,102,102);
	line-height: 24px;
	text-align: justify;
}

.edu-bd .half-top .friendLink a{
	width: 71px;
	height: 19px;
	font-family: "Microsoft YaHei";
	font-size:14px;
	font-weight: 400;
	font-style: normal;
	color: rgb(57,160,48);
}


.edu-bd .half-top .workplace{
	width: 100%;
	height: 220px;
}
.edu-bd .half-top .workplace img{
	float: left;
	width: 20%;
}

/* 设置主体下半部分 */
.edu-bd .half-bottom{
	width: 1160px;
	height: auto;
	margin: 0 auto;
	padding-top: 80px;
}
/* 设置课程类别 */
.edu-bd .half-bottom .switch{
	width: 400px;
	height: 50px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 1px #dcdcdc;
}

.edu-bd .half-bottom .switch .kindSwitch{
	float: left;
	width: 200px;
	height: 50px;
	color: #666;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 50px;
}
.edu-bd .half-bottom .course-content{
	float: left;
	width: 920px;
}
.edu-bd .half-bottom .course-side{
	float: right;
	width: 220px;
}
.edu-bd .half-bottom #courses{
	width: 920px;
	margin-right: -15px;
}

.edu-bd .half-bottom #courses li{
	width: 215px;
	height: 215px;
	float: left;
	margin-top: 18px;
	margin-right: 15px;
	overflow: hidden;
}

.edu-bd .half-bottom #courses li .courseName{color: blue;}

.edu-bd .half-bottom .course-side ul li{
	width: 180px;
	height: 50px;
	margin: 20px;
}

.edu-bd .half-bottom .course-side h4 {
	height: 60px;
	background-color: #fff;
	color: #333;
	font-family: arial;
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	padding-left: 20px;
}

.edu-bd .half-bottom .course-side .hotListImg{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

.edu-bd .half-bottom .course-side ul li p{
	color: #333;
	height: 14px;
	font-family: "Microsoft YaHei";
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}




















/* 设置底栏 */
.edu-ft, .f-f1{
	width: 100%;
	height: 262px;
	margin: 0 auto;
	background-color: rgb(44,51,57);
}
/* 设置底栏所有文字颜色和透明度 */
.f-f1 p,a{
	color: #fff;
	opacity: 0.6;
}

.f-f2{
	float: left;
}

.clearfix:after{content: ""; height: 0; display: block; clear: both; overflow: hidden; visibility: hidden;}

/* 底栏版权宽高，内边距 */
.edu-ft .f-f1 .copyRight{
	height: 170px;
	width: 544px;
	padding-top: 92px;
	padding-left: 83px;
}
/* 底栏友情链接宽高，内边距 */
.edu-ft .f-f1 .friendLink{
	width: 210px;
	height: 120px;
	padding-top: 66px;
}
/* 底栏“我们”宽高，内边距 */
.edu-ft .f-f1 .us{
	width: 134px;
	height: 114px;
	padding-top: 66px;
}
/* 底栏更多宽高，内边距 */
.edu-ft .f-f1 .more{
	width: 134px;
	height: 90px;
	padding-top: 66px;
}
/* 底栏logo和版权文字外边距 */
.edu-ft .f-f1 .copyRight .ft-logo{
	margin-bottom: 13px;
}
/* 底栏版权文字字体，行间距 */
.edu-ft .f-f1 .copyRight p{
	font-family: "Microsoft YaHei";
	font-size: 12.5px;
	font-weight: 400;
	font-style: normal;
	line-height: 25px;
}
/* 底栏“友情链接”，“我们”，“更多”字体，行间距 */
.edu-ft .f-f1 .f-f2 p{
	font-family: "Microsoft YaHei";
	font-size: 12.5px;
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
}
/* 底栏连接字体和行间距 */
.edu-ft .f-f1 .f-f2 a{
	display: block;
	font-family: "Microsoft YaHei";
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 30px;
}
/* 底栏链接hover效果 */
.edu-ft .f-f1 .f-f2 a:hover{
	color: #fff;
	text-decoration: underline;
}



